## --- Vim/Neovim 核心冗余 ---
*.swp
*.swo
*.swn
*.bak
*.un~
*.tmp
*~
# Neovim 默认的 undo 文件、Shada 文件及各种日志
undo/
shada/
*.log

## --- 操作系统与通用编辑器文件 ---
.DS_Store
Thumbs.db
.vim-bookmarks
.vscode/
.idea/

## --- 会话与状态 (建议全部忽略) ---
sessions/
.netrwhist
tmp/
tags

.env

mini.md
AGENTS.md

lazy-lock.json
nvim-pack-lock.json
tmp/backup
startup
